/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
h3 {
  font-family: "Poppins", sans-serif;
} */

.bar {
  width: 60vw;
  margin: auto;
}

.jumbo-box {
  background-color: rgba(0, 79, 79, 0.5);
  background-color: rgba(105, 105, 105, 0.75);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav {
  text-align: center;
}

hr {
  border-color: inherit;
}

.jumbo-img {
  background-image: url("/assets/desk-glasses.jpg");
  background-repeat: no-repeat;
}

.jumbo-box a {
  color: #fff;
}

.jumbo-box a:hover {
  color: #191919;
}

.jumbo-box a:active {
  color: black;
}

@media (hover: none) {
  .jumbo-box a:hover {
    color: #fff;
  }

  .jumbo-box a:active {
    color: #191919;
  }
}

.display-3 {
  font-size: 2rem;
}

@media screen and (max-width: 855px) {
  nav .display-3 {
    font-size: 0em;
  }

  .fa-3x {
    margin: 0;
    font-size: 3em;
  }

  .nav-item {
    padding: 5px;
  }
}

@media screen and (max-width: 460px) {
  .fa-3x {
    font-size: 2.5em;
  }

  .display-2 {
    font-size: 3em;
  }
}

@media screen and (max-width: 410px) {
  .fa-3x {
    font-size: 2em;
  }
}

@media screen and (max-width: 320px) {
  .fa-3x {
    font-size: 1em;
  }
}
