.bar {
  width: 60vw;
  margin: auto;
}

.jumbo-box {
  background-color: rgba(0, 79, 79, 0.5);
  background-color: rgba(105, 105, 105, 0.75);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

hr {
  border-color: inherit;
}

.jumbo-img {
  background-image: url("/assets/desk-glasses.jpg");
  background-repeat: no-repeat;
}

.jumbo-box a {
  color: #fff;
}

.jumbo-box a:hover {
  color: #191919;
}
