/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
h3 {
  font-family: "Poppins", sans-serif;
} */

.bar {
  width: 60vw;
  margin: auto;
}

.jumbo-box {
  background-color: rgba(0, 79, 79, 0.5);
  background-color: rgba(105, 105, 105, 0.75);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav {
  text-align: center;
}

hr {
  border-color: inherit;
}

.jumbo-img {
  background-image: url("/assets/desk-glasses.jpg");
  background-repeat: no-repeat;
}

.jumbo-box a {
  color: #fff;
}

.jumbo-box a:hover {
  color: #191919;
}

.display-3 {
  font-size: 2rem;
}

@media screen and (max-width: 850px) {
  .fa-3x,
  nav .display-3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 735px) {
  .fa-3x,
  nav .display-3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 650px) {
  .fa-3x,
  nav .display-3 {
    font-size: 1rem;
  }
}
